
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">

                    <div class="input-group search-area d-xl-inline-flex d-none">
                        <div class="input-group-append">
                            <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                        </div>
                        <input type="text" class="form-control" placeholder="Buscar producto...">
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <nav>
                                    <ul class="pagination pagination-gutter pagination-primary no-bg">
                                        <li class="page-item page-indicator">
                                            <a class="page-link"  (click)="loadprev(4)">
                                                <i class="la la-angle-left"></i></a>
                                        </li>
                                        <li class="page-item "><a class="page-link" href="javascript:void(0)">  {{_butler.init}} - {{_butler.end}} </a> 
                                        </li>
                                     
                                        <li class="page-item page-indicator">
                                            <a class="page-link"  (click)="loadmore(4)">
                                                <i class="la la-angle-right"></i></a>
                                        </li>
                                    </ul>
                                     <span *ngIf="prodSze$!=undefined" > de  {{prodSze$.length}}</span>  
                                </nav>
                    </div>
                        
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6" *ngFor='let product of products$ | async'>
                        <div class="card" (click)="viewProduct(product)">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                        <span>REF. {{product.ref}}</span>
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{{product.images[0]}}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h4>{{product.name}}</h4>
                                       <!--  <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                        </ul> -->
                                        <span class="price">$ {{product.price |  number:'1.0-2'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
               
                </div>
              
            </div>
        </div>
