
        <div class="content-body">
            <div class="container-fluid">
            <div class="row page-titles mx-0">
                    <div class="col-sm-5 p-md-0">
                        <div class="welcome-text" >
                            <h4>Nuevo ticket de venta</h4>
                            <span></span>
                        </div>
                       
                    </div>
                    <div class="col-sm-7 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                     <!-- <app-clock class="mreloj"></app-clock> -->
                    </div>
                </div>
                <!-- row -->



                    <div class="col-lg-12">

                        <div class="card">
                           <!--  <div class="card-header">
                                <h4 class="card-title"> Servicio</h4>
                            </div> -->
                            <div class="card-body">
                                 <div class="row">
                      
                                    <div class="col-xl-7"  [hidden]="!show">
                                          <div class="form-validation">
                                    <form class="needs-validation" novalidate >
                                        <div class="row">
                                             <div class="col-xl-12">
                                                <div class="mb-3 row">
                                              <!--       <label class="col-lg-1 col-form-label" for="validationCustom01" [hidden]="optionSelected"> 
                                                        <span class="text-danger"></span>
                                                    </label> -->
                                                    <div class="col-lg-12"[hidden]="optionSelected">
                                                  
                                                        <button type="button" class="btn btn-outline-primary" (click)="setOption(1)">PAYJOY</button>
                                                      <button type="button" class="btn btn-outline-primary" (click)="setOption(2)">FOXPAY</button>
                                                      <button type="button" class="btn btn-outline-primary" (click)="setOption(3)">CC FACIL</button>
                                                      <button type="button" class="btn btn-outline-primary" (click)="setOption(4)">ACCESORIOSS</button>
                                                      <button type="button" class="btn btn-outline-primary" (click)="setOption(5)">REPARACION</button>
                                                    </div>   
                                                    <label class="col-lg-3 col-form-label" for="validationCustom01"[hidden]="!optionSelected"> Servicio
                                                        <span class="text-danger"></span>
                                                    </label>
                                                    <div class="col-lg-9"[hidden]="!optionSelected">
                                                    <h4 class="card-title" (click)="resetOption()" style="cursor:pointer;"> {{optionSelectedText}}</h4>
                                                  
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="row" [hidden]="option!=5">
                                             <div class="col-xl-12">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-3 col-form-label" for="validationCustom01"> Técnico
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9" [hidden]="technicalSelected">
                                                        <button type="button" class="btn btn-outline-primary btn-sm" *ngFor="let technical of technicals;let i = index" (click)="setTechnical(i+1)">{{technical.name}}</button>
                                                    
                                                    </div>
                                                    <div class="col-lg-9" [hidden]="!technicalSelected">
                                                         <h4 class="card-title" (click)="resetTechnical()" style="cursor:pointer;"> {{technicalSelectedText}}</h4>
                                                    
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="row" [hidden]="option!=1 && option!=2 && option!=3  ">
                                             <div class="col-xl-12">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-3 col-form-label" for="validationCustom01"> Tipo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9" [hidden]="typeSelected">
                                                        <button type="button" class="btn btn-outline-primary"  (click)="setType(1)" >Enganche</button>
                                                         <button type="button" class="btn btn-outline-primary" (click)="setType(2)" >Parcialidad</button>
                                                    
                                                    </div>
                                                    <div class="col-lg-9" [hidden]="!typeSelected">
                                                         <h4 class="card-title" (click)="resetType()" style="cursor:pointer;"> {{typeSelectedText}}</h4>
                                                    
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="mb-3 row"  [hidden]="option!=1">
                                            <label class="col-lg-3 col-form-label" for="imei">TAG <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" id="tag"  placeholder="imei" required>
                                                <div class="invalid-feedback">
                                                    Please enter a IMEI.
                                                </div>
                                            </div>
                                        </div>
                                         <div class="mb-3 row"  [hidden]="option!=1 && option!=2 && option!=3 ">
                                            <label class="col-lg-3 col-form-label" for="imei">IMEI 1 <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" id="imei"  placeholder="imei" required>
                                                <div class="invalid-feedback">
                                                    Please enter a IMEI.
                                                </div>
                                            </div>
                                        </div>
                                               <div class="mb-3 row"  [hidden]="option!=2 && option!=3 ">
                                            <label class="col-lg-3 col-form-label" for="imei">Referencia <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" id="imei"  placeholder="referencia" required>
                                                <div class="invalid-feedback">
                                                    Please enter Referencia.
                                                </div>
                                            </div>
                                        </div>

                                     
                                        

                                    <div class="row" [hidden]="option!=5  ">
                                             <div class="col-xl-12">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-3 col-form-label" for="validationCustom01"> Tipo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9"  [hidden]="repairSelected">
                                                        <button type="button" class="btn btn-outline-primary"  (click)="setRepair(1)">Hardware</button>
                                                         <button type="button" class="btn btn-outline-primary" (click)="setRepair(2)" >Software</button>
                                                    
                                                    </div> 
                                                    <div class="col-lg-9"  [hidden]="!repairSelected">
                                                     
                                                      <h4 class="card-title" (click)="resetRepair()" style="cursor:pointer;"> {{repairSelectedText}}</h4>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="mb-3 row" [hidden]="option!=4 &&  option!=5">
                                                    <label class="col-lg-3 col-form-label" for="concepto">Concepto <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9">
                                                        <textarea class="form-control" id="validationCustom04"  rows="5" placeholder="Concepto" required></textarea>
                                                        <div class="invalid-feedback">
                                                            Please enter a Suggestions.
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="mb-3 row"  [hidden]="option==0">
                                            <label class="col-lg-3 col-form-label" for="validationCustom02">Folio <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" id="validationCustom02"  placeholder="folio" required>
                                                <div class="invalid-feedback">
                                                    Please enter a Email.
                                                </div>
                                            </div>
                                        </div>
                                           <div class="mb-3 row"  [hidden]="option==0">
                                            <label class="col-lg-3 col-form-label" for="validationCustom02">Monto <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" id="validationCustom02"  placeholder="monto" required>
                                                <div class="invalid-feedback">
                                                    Please enter a Email.
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                                 <button type="button" class="btn btn-rounded btn-primary" (click)="addItem()">Aceptar</button>
                                    </div>
                                   
<div class="col-xl-5 " [hidden]="ticketSize<1">
                       <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Detalle de ticket</h4>
                            </div>
                            <div class="card-body">
                                <div id="DZ_W_TimeLine1" class="widget-timeline dz-scroll style-1 " style="height: 100%;">
                                    <ul class="timeline">
                                        <li *ngFor="let item of _butler.ticket;let i = index">
<!--                                             <div class="timeline-badge info"></div> -->
                                             <a class="timeline-panel text-muted"   [hidden]="item.servicio!='PAYJOY'">
                                                <span>{{item.servicio}}</span>
                                                <h6 class="mb-0">Tipo: {{item.tipo}} <strong class="text-primary">Monto: {{item.monto}}</strong>.</h6>
                                            </a>
                                            <a class="timeline-panel text-muted"   [hidden]="item.servicio!='REPARACION'">
                                                <span>{{item.servicio}}</span>
                                                <h6 class="mb-0">Técnico: {{item.tecnico}} <strong class="text-primary">Monto: {{item.monto}}</strong>.</h6>
                                            </a>
                                          
                                            <a class="timeline-panel text-muted"   [hidden]="item.servicio!='FOXPAY'">
                                               <span>{{item.servicio}}</span>
                                                <h6 class="mb-0">Tipo: {{item.tipo}} 
                                                    <strong class="text-info">IMEI 1: 
                                                    {{item.imei}}</strong>
                                                    
                                                </h6>
                                                   
                                            </a>
                                        </li>
                                    <!--     <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel text-muted" href="widget-basic.html#">
                                                <span>20 minutes ago</span>
                                                <h6 class="mb-0">New order placed <strong class="text-info">#XF-2356.</strong></h6>
                                                <p class="mb-0">Quisque a consequat ante Sit amet magna at volutapt...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger">
                                            </div>
                                            <a class="timeline-panel text-muted" href="widget-basic.html#">
                                                <span>30 minutes ago</span>
                                                <h6 class="mb-0">john just buy your product <strong class="text-warning">Sell $250</strong></h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge success">
                                            </div>
                                            <a class="timeline-panel text-muted" href="widget-basic.html#">
                                                <span>15 minutes ago</span>
                                                <h6 class="mb-0">StumbleUpon is acquired by eBay. </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge warning">
                                            </div>
                                            <a class="timeline-panel text-muted" href="widget-basic.html#">
                                                <span>20 minutes ago</span>
                                                <h6 class="mb-0">Mashable, a news website and blog, goes live.</h6>
                                            </a>
                                        </li> -->
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-rounded btn-primary" (click)="showRutine()"><span
                                        class="btn-icon-start text-primary"><i class="fa fa-plus"></i>
                                    </span>Agregar servicio</button>
                                      <button type="button" class="btn btn-primary">Procesar <span class="btn-icon-end"><i
                                            class="fa fa-check"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       